.board {
  display: table;
  margin-bottom: 50px;
  border-collapse: separate;
  border-spacing: 3px;
}

.title {
  display: table-caption;
  text-align: center;
  font-weight: bold;
  font-size: larger;
}

.heading {
  display: table-row;
  font-weight: bold;
  text-align: center;
}

.row {
  display: table-row;
}

.cell {
  display: table-cell;
  border: solid blue;
  border-width: 2px;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  padding-left: 5px;
  padding-right: 5px;
}
